{% load analytical compress  %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% analytical_head_top %}

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block meta-description %}{{meta_description|safe|striptags}}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{{meta_keywords|safe|striptags}}{% endblock %}">
    <meta name="author" content="">

    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png" />

    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block css_wrap %}
        {% block css %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/bootstrap.min.css" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/style.css" media="screen" />
        {% endblock %}
    {% endblock %}

    {% analytical_head_bottom %}
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% analytical_body_top %}

    {% block content_wrap %}
        <div class="topbar">
          <div class="topbar-inner">
            <div class="container">
              <a class="brand" href="/">Project</a>
              <ul class="nav">
                {% if request.user.is_authenticated %}
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Logout</a></li>
                {% else %}
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Create Account</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>

        <div class="container">
            {% block content %}{% endblock %}
            {% block footer %}
            <footer>
                <p>&copy; Company 2011</p>
            </footer>
            {% endblock %}
        </div>
    {% endblock %}


    {% block js_wrap %}
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
        {% block js %}{% endblock %}
    {% endblock %}

    <script type="text/javascript">
        {% comment %}<!--
        $(document).ready(function(){
            $.prettyLoader({
                bind_to_ajax: true,
                delay: false,
                offset_top: 13,
                offset_left: 10
            });
        });
        -->{% endcomment %}
        {% if messages %}
            // Notification plugin
        {% endif %}
    </script>

    {% block body_bottom %}{% endblock %}

    {% analytical_body_bottom %}
</body>
</html>
