{% load analytical compress  %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% analytical_head_top %}

    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block meta-description %}{{meta_description|safe|striptags}}{% endblock %}">
    <meta name="keywords" content="{% block meta-keywords %}{{meta_keywords|safe|striptags}}{% endblock %}">
    <meta name="author" content="">

    <link rel="icon" href="{{ STATIC_URL }}img/favicon.png" />

    {% block css_wrap %}
        {% compress css %}
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/bootstrap.min.css" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/style.css" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/jquery.noty.css" media="screen" />
            <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}css/noty_theme_twitter.css" media="screen" />
        {% endcompress %}

        {% block css %}{% endblock %}
    {% endblock %}

    {% analytical_head_bottom %}
</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
    {% analytical_body_top %}

    {% block content_wrap %}
        {% block header %}
        <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="#">Project name</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        {% endblock %}

        <div class="container">
            {% block content %}{% endblock %}
            {% block footer %}
            <footer>
                <p>&copy; Company 2011</p>
            </footer>
            {% endblock %}
        </div>
    {% endblock %}

    {% block js_wrap %}
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% compress js %}
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.prettyLoader.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.noty.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/core.js"></script>
        {% endcompress %}

        {% block js %}{% endblock %}
    {% endblock %}

    <script type="text/javascript">
        $(document).ready(function(){
            $.prettyLoader({
                loader: '{{ STATIC_URL }}img/prettyLoader/ajax-loader.gif',
            });
        });

        // Notification plugin
        {% if messages %}
            noty({
                layout : 'top',
                theme : 'noty_theme_twitter',
                type : '{% if message.tags %}{{ message.tags }}{% else %}notification{% endif %}',
                text : '{% for msg in messages %}{{ msg }}{% if not forloop.last %}<br />{% endif %}{% endfor %}',
                timeout : 1000,
                closeButton: true,
            });
        {% endif %}
    </script>

    {% block body_bottom %}{% endblock %}

    {% analytical_body_bottom %}
</body>
</html>
